@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-basis: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.main-content {
    flex: 1;
}
